---
http_interactions:
- request:
    method: get
    uri: https://api.open-meteo.com/v1/forecast?current=weather_code%2Ctemperature_2m&daily=temperature_2m_max%2Ctemperature_2m_min%2Cweather_code&hourly=weather_code%2Ctemperature_2m&latitude=0.0&longitude=0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"latitude":0.0,"longitude":0.0,"generationtime_ms":0.0400543212890625,"utc_offset_seconds":0,"timezone":"GMT","timezone_abbreviation":"GMT","elevation":0.0,"current_units":{"time":"iso8601","interval":"seconds","weather_code":"wmo
        code","temperature_2m":"°C"},"current":{"time":"2024-11-21T00:00","interval":900,"weather_code":2,"temperature_2m":26.6},"hourly_units":{"time":"iso8601","weather_code":"wmo
        code","temperature_2m":"°C"},"hourly":{"time":["2024-11-21T00:00","2024-11-21T01:00","2024-11-21T02:00","2024-11-21T03:00","2024-11-21T04:00","2024-11-21T05:00","2024-11-21T06:00","2024-11-21T07:00","2024-11-21T08:00","2024-11-21T09:00","2024-11-21T10:00","2024-11-21T11:00","2024-11-21T12:00","2024-11-21T13:00","2024-11-21T14:00","2024-11-21T15:00","2024-11-21T16:00","2024-11-21T17:00","2024-11-21T18:00","2024-11-21T19:00","2024-11-21T20:00","2024-11-21T21:00","2024-11-21T22:00","2024-11-21T23:00","2024-11-22T00:00","2024-11-22T01:0[...]
