  ---
http_interactions:
- request:
    method: get
    uri: https://api.open-meteo.com/v1/forecast?current=weather_code%2Ctemperature_2m&daily=temperature_2m_max%2Ctemperature_2m_min%2Cweather_code&hourly=weather_code%2Ctemperature_2m&latitude=46.2&longitude=-74.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"latitude":46.197365,"longitude":-74.08883,"generationtime_ms":2.066969871520996,"utc_offset_seconds":0,"timezone":"GMT","timezone_abbreviation":"GMT","elevation":526.0,"current_units":{"time":"iso8601","interval":"seconds","weather_code":"wmo
        code","temperature_2m":"°C"},"current":{"time":"2024-11-19T15:45","interval":900,"weather_code":2,"temperature_2m":4.7},"hourly_units":{"time":"iso8601","weather_code":"wmo
        code","temperature_2m":"°C"},"hourly":{"time":["2024-11-19T00:00","2024-11-19T01:00","2024-11-19T02:00","2024-11-19T03:00","2024-11-19T04:00","2024-11-19T05:00","2024-11-19T06:00","2024-11-19T07:00","2024-11-19T08:00","2024-11-19T09:00","2024-11-19T10:00","2024-11-19T11:00","2024-11-19T12:00","2024-11-19T13:00","2024-11-19T14:00","2024-11-19T15:00","2024-11-19T16:00","2024-11-19T17:00","2024-11-19T18:00","2024-11-19T19:00","2024-11-19T20:00","2024-11-19T21:00","2024-11-19T22:00","2024-11-19T23:00","2024-11-20T00:00","2024-11-20T01:0[...]
