<div class="bg-white w-32 h-32 flex flex-col items-center justify-center mt-4">
  <div class="text-lg"><%= forecast.weather_code.emoji %> <%= forecast.time.strftime("%l:%M %p") %></div>
  <div class="flex flex-col">
    <div>Temp: <%= forecast.temperature %></div>
  </div>
</div>