<div class="bg-white col items-center mt-4">
  <div class="text-lg"><%= forecast.weather_code.emoji %> <%= forecast.time.strftime("%l:%M %p") %></div>
  <div class="">
    <div>Temp: <%= forecast.temperature %></div>
  </div>
</div>