<tr>
  <th scope="row"><%= daily_forecast.weather_code.emoji %></th>
  <td> <%= daily_forecast.date.strftime("%_m/%e") %> </td>
  <td> <%= daily_forecast.high %> </td>
  <td> <%= daily_forecast.low %> </td>
</tr>
